<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}It's Burger Time!{{else}}Regurgitate{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Get rid of it</button>
</li>