<li>
	{{burger_name}}

	<button class="btn btn-success" id="eatButton" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Regurgitate{{else}}It's Burger Time!{{/if}}
	</button>

	<button class="btn btn-danger" id="delete-burger" data-id="{{this.id}}">Get rid of it</button>
</li>

